   <html>
   <head>
   <title><%= title%></title>
   <link rel="stylesheet" type="text/css" href="/style.css">
   </head>
   <body>
   <center>
      <table>
      <form name="myForm"  onsubmit="return validateForm()" action="/update"  method="POST">
      <tr>
      <td>
      <h2>Update Register</h2>
      </td>
      </tr>
      <tr>
      <td><label>Name</label>
      <input type="hidden" Name="id" value=<%= editData.id%>> 
      <input type="Text" name="Name" id="Name" class='Name' placeholder="Enter your Name" value=<%= editData.Name%>>
      <div id="Name_error" class="divs_style"> **Must enter the Name** </div>
      </td>
      </tr>
      <br>
      <tr>
      <td><label>LastName</label>
      <input type=" Text" name="LastName" id="LastName" class='LastName'placeholder="Enter your LastName" value=<%= editData.LastName%>>
      <div id="LastName_error" class="divs_style">**Must enter the LastName**</div>
      </td>
      </tr>
      <br>
      <tr>
      <td><label>Age</label>
      <input type="Number" name="Age" id="Age" class=Age min="1" max="100" placeholder="Age " value=<%= editData.Age%>>
      <div id="Age_error" class="divs_style">**Must enter the Age**</div>
      </td>
      </tr>
      <br>
      <tr>
      <td><label>Email</label>
      <input type="Email" id="Email" name="Email" class=Email  
      placeholder="Enter your Email" value=<%= editData.Email%>>
      <div id="Email_error" class="divs_style">** Must enter the Email**</div>
      </td>
      </tr>
      <br>
      <tr>
      <td><label>Gender</label>
      <input type="radio" id="Male" name="gender" class="gender" value="Male"
       <% if(editData.Gender=='Male'){ %> checked="checked"<% }%>>
      <label for="Male">Male</label>
      <input type="radio" id="female" name="gender" value="female" 
      <% if(editData.Gender=='female'){ %> checked="checked" <% } %>>
      <label for="female">Female</label><br>
      <div id="Gender_error"   class="divs_style">**Must enter the Gender**</div>
      </td>
      </tr>
      <br>
      <tr>
      <td>Language:<input type="checkbox" id="language1" name="Language" class="Language" 
       value="Tamil" <%=editData.Language .split(",").includes("Tamil")? 'checked' :null %>>Tamil 
      <input type="checkbox" id="language2" name="Language" 
      value="English" <%=editData.Language .split(",").includes("English")? 'checked' :null %>>English
      <input type="checkbox" id="language3" name="Language" 
      value="Malayalam" <%=editData.Language .split(",").includes("Malayalam")? 'checked' :null %>>Malayalam<br>  
      <div id="Language_error" class="divs_style"> **Must enter the Language**</div>
      </td>
      </tr>
      </br>
      <tr>
      <td><label for="city" name="city">city:</label> 
      <select name="city" id="city" class=city>
      <option>--Select city--</option>
      <option value="Palani"<%=editData. city == 'Palani'? 'selected' :''%>>Palani</option>
      <option value="Chennai"<%=editData. city == 'Chennai'? 'selected' :''%>>Chennai</option>
      <option value="Dindigul"<%=editData. city == 'Dindigul'? 'selected' :''%>>Dindigul</option>
      <option value="None"<%=editData. city == 'None' ? 'selected' :''%>>None</option> 
      <!-- <option value = "0" <%= editData. City =='0' ? 'selected' : '' %>>--Select City--</option>
      <option value = "Palani" <%= editData.City =='Palani' ? 'selected' : '' %>>Palani</option>
      <option value = "Chennai" <%= editData.City =='Chennai' ? 'selected' : '' %>>Chennai</option>
      <option value = "Dindigul" <%= editData.City =='Dindigul' ? 'selected' : '' %>>Dindigul</option>
      <option value = "None" <%= editData.City =='None' ? 'selected' : '' %>>None</option> -->
      </select>
      <div id="city_error"  class="divs_style"> **Must enter the City**</div>
      </td>
      </tr>
      <br><br>
      <tr>
      <td>
      <input type="submit" value="submit" class="Sumbit">
      </td>
      </tr>
      </form>
      </table>
      </center>
      <script>
          function validateForm() {
            var Name = document.getElementById("Name").value;
            var LastName = document.getElementById("LastName").value; 
            var Age = document.getElementById("Age").value;
            var Email = document.getElementById("Email").value;
            var gender= document.getElementById("male").checked? "Male":null || document.getElementById("female").checked ?"female":null;
            var Language=(document.getElementById("language1").checked ? "Tamil": null || document.getElementById("language2").checked ?"English": null ||
             document.getElementById("language3").checked ? "Malayalam": null )
            var e = document.getElementById("City");
            var strUser = e.options[e.selectedIndex].value;
            var strUser1 = e.options[e.selectedIndex].text;
           
            document.getElementById("Name_error").style.visibility = "hidden";
            document.getElementById("LastName_error").style.visibility = "hidden";
            document.getElementById("Age_error").style.visibility = "hidden";
            document.getElementById("Email_error").style.visibility = "hidden";
            document.getElementById("Gender_error").style.visibility = "hidden";
            document.getElementById("Language_error").style.visibility = "hidden";
            document.getElementById("city_error").style.visibility = "hidden";

       if(Name=="")
       {
       document.getElementById("Name_error").style.visibility = "visible";
       return false;
      }
     else if(LastName=="")
     { 
     document.getElementById("LastName_error").style.visibility = 'visible';
     return false; 
   } 
    else if(Age=="")
    {
     document.getElementById("Age_error").style.visibility = 'visible';
     return false; 
    }
     else if(Email=="")
    {
    document.getElementById("Email_error").style.visibility = 'visible';
    return false; 
    }
    else if(gender==null)
     { 
     document.getElementById("Gender_error").style.visibility = 'visible';
     return false; 
    }
     else if(Language==null) 
      { 
       document.getElementById("Language_error").style.visibility = 'visible';
       return false; 
   }
   else if(city== 0)
      {
     document.getElementById("city_error").style.visibility = 'visible';
     return false;  
    }
    else
    {
      return true;
   }
   }
</script>
</body>
</html>
      
      

 
