<!DOCTYPE html>
<html lang="en">
<head>
  <title> <%= title%> </title>
</head>
<body>
    <div class="table-data">
        <h2>Table List</h2>
    <table border="1">
        <tr>
            <th>id</th>
            <th> Name</th>
            <th>LastName</th>
            <th>Age</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Language</th>
            <th>city</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
        <tr>
            <td><%=i; %></td>
            <td><%=data.Name %></td>
            <td><%=data.LastName %></td>
            <td><%=data.Age %></td>
            <td><%=data.Email %></td>
            <td><%=data.Gender %></td>
            <td><%=data.Language %></td>
            <td><%=data.city %></td>
            <td><a href="/table/edit/<%= data.id%>">Edit</a></td>
            <td><a href="/table/delete/<%= data.id%>">Delete</a></td>
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="10">No Data Found</td>
            </tr>
        <% } %>
<!--         
        <% if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
        <tr>
            <td><%=i; %></td>
            <td><%=data.Name %></td>
            <td><%=data.LastName %></td>
            <td><%=data.Age %></td>
            <td><%=data.Email %></td>
            <td><%=data.Gender %></td>
            <td><%=data.Language %></td>
            <td><%=data.city %></td>
            <td><a href="/Table/edit/<%=data.id%>">Edit</a></td>
            <td><a href="/Table/delete/<%=data.id%>">Delete</a></td>
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="10">No Data Found</td>
            </tr>
        <% } %> -->
    </table>
    </div>
</body>
</html>