body {
  background-color:#add8e6;
  text-align: center;
  background-color: #50ff6e;
  outline-style: solid;
  outline-color: #5b50ff;
}

.Name {
	margin-left: 32px;
	text-align: left;
    border-color: blue;
}
.LastName{
	margin-left: 7px;
	text-align: left;
	border-color: blue;
}
.Age{
	margin-left: 49px;
	text-align: left;
	padding: 0px 52px;
	border-color: blue;
}
.Email{
	margin-left: 37px;
	border-color: blue;
}
.Gender{
	margin-left: 26px;
	border-color: blue;
}
.Language{
	margin-left: 10px;
	border-color: blue;
}
.City{
	margin-left: 46px;
	text-align: left;
	padding: 0px 37px;
	border-color: blue;
}
.Sumbit{
     margin-left: 78px;
     border-color: blue;
     background-color:white;
}
.divs_style{
	visibility: hidden;
	color: red;
	margin: 0px 0px 0px 74px;

}
h2{
	text-align: center;
}
























































































































